[submodule "github.io"]
	path = github.io
	url = git@github.com:NativeScript/nativescript-background-http.git
[submodule "deps/android-upload-service"]
	path = deps/android-upload-service
	url = git@github.com:NativeScript/android-upload-service.git
