# Output
dist

# Dev dependencies
node_modules

# API reference
api-ref

# Source, written in TypeScript so JavaScript is not necessary
/nativescript-background-http/**/*.js

# Example platforms
/examples/SimpleBackgroundHttp/platforms/
/examples/SimpleBackgroundHttp/lib/

.DS_Store

npm-debug.log