/.project
.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
!src/scripts/*.js
!src/hooks/*.js
node_modules

demo/app/*.js
demo/*.d.ts
demo/hooks
demo/platforms
demo/node_modules
demo/report

demo-angular/app/*.js
demo-angular/*.d.ts
demo-angular/platforms/

!demo-server/*.js
/src/platforms/android/nativescript_background_http.aar
/src/*.tgz