branches:
  only: 
    - master
matrix:
  include:
    - stage: "Lint"
      language: node_js
      os: linux
      node_js: "8"
      script: cd src && npm run ci.tslint && cd ../demo && npm run ci.tslint && cd ../demo-angular && npm run ci.tslint
    - stage: "WebPack, Build and Test"
      os: osx
      env:
        - WebPack="iOS"
      osx_image: xcode9.2
      language: node_js 
      node_js: "8"
      jdk: oraclejdk8
      script: cd demo && npm run build.plugin && npm i && tns build ios --bundle --env.uglify && cd ../demo-angular && npm i && tns build ios --bundle --env.uglify --env.aot
    - language: android
      os: linux
      env:
        - WebPack="Android"
      jdk: oraclejdk8
      before_install: nvm install 8.11.4
      script: cd demo && npm run build.plugin && npm i && tns build android --bundle --env.uglify --env.snapshot && cd ../demo-angular && npm i && tns build android --bundle --env.uglify --env.snapshot --env.aot
    - language: android
      env: 
        - BuildAndroid="26"
      os: linux
      jdk: oraclejdk8
      before_install: nvm install 8
      script:
        - cd src && npm i && npm run tsc && cd ../demo && npm i && tns build android && cd ../demo-angular && npm i && tns build android
    - os: osx
      env: 
        - BuildiOS="11"
        - Xcode="9.2"
      osx_image: xcode9.2
      language: node_js 
      node_js: "8"
      jdk: oraclejdk8
      script: 
        - cd src && npm i && npm run tsc && cd ../demo && npm i && tns build ios && cd ../demo-angular && npm i && tns build ios

android:
  components:
    - tools
    - tools
    - platform-tools
    - build-tools-27.0.3
    - android-26
    - android-23
    - extra-android-m2repository

install:
    - echo no | npm install -g nativescript
    - tns usage-reporting disable
    - tns error-reporting disable