branches:
  only: 
    - master
matrix:
  include:
    - stage: "Lint"
      language: node_js
      os: linux
      node_js: "10"
      script: cd src && npm run ci.tslint && cd ../demo && npm run ci.tslint && cd ../demo-angular && npm run ci.tslint
    - stage: "WebPack, Build and Test"
      os: osx
      env:
        - WebPack="iOS"
      osx_image: xcode10.2
      language: node_js 
      node_js: "10"
      jdk: oraclejdk8
      script: 
        - cd demo && npm run build.plugin && npm i && tns build ios --bundle --env.uglify 
        - cd ../publish
        - sh pack.sh
        - cp package/*.tgz ../demo-angular/package.tgz
        - cd ../demo-angular 
        - sed -i -e 's/\"..\/src\"/"package.tgz"/g' package.json
        - npm i
        - tns build ios --bundle --env.uglify --env.aot
    - language: android
      os: linux
      dist: trusty
      env:
        - WebPack="Android"
      jdk: oraclejdk8
      before_install: nvm install 10
      script:
        - cd demo && npm run build.plugin && npm i && tns build android --bundle --env.uglify --env.snapshot
        - cd ../publish 
        - sh pack.sh
        - cp package/*.tgz ../demo-angular/package.tgz
        - cd ../demo-angular
        - sed -i -e 's/\"..\/src\"/"package.tgz"/g' package.json
        - npm i
        - tns build android --bundle --env.uglify --env.aot
    - language: android
      os: linux
      dist: trusty
      env: 
        - BuildAndroid="28"
      jdk: oraclejdk8
      before_install: nvm install 10
      script:
        - cd src && npm i && npm run tsc && cd ../demo && npm i && tns build android && cd ../demo-angular && npm i && tns build android
    - os: osx
      env: 
        - BuildiOS="12.0"
        - Xcode="10.0"
      osx_image: xcode10.2
      language: node_js 
      node_js: "10"
      jdk: oraclejdk8
      script: 
        - cd src && npm i && npm run tsc && cd ../demo && npm i && tns build ios && cd ../demo-angular && npm i && tns build ios

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28
    - extra-android-m2repository

before_install:
    - sudo pip install --upgrade pip
    - sudo pip install six

install:
    - echo no | npm install -g nativescript
    - tns usage-reporting disable
    - tns error-reporting disable
