@import '~nativescript-theme-core/css/core.light.css';

.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

button {
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
