<GridLayout rows="3*,10, 2*, auto" columns="*, *, *">
    <ListView colSpan="3" [items]="tasks">
        <ng-template let-item="item">
            <StackLayout>
                <Label [text]="item.description"></Label>
                <Progress [value]="item.upload" [maxValue]="item.totalUpload"></Progress>
                <Label [text]="'Uploading: ' + item.upload + ' / ' + item.totalUpload"></Label>
                <Label [text]="'Status: ' + item.status"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <StackLayout class="hr-dark" row="1" colSpan="3"></StackLayout>
    <ListView row="2" colSpan="3" [items]="events">
        <ng-template let-item="item">
            <StackLayout>
                <Label [text]="item.eventTitle"></Label>
                <Label [text]="item.eventData" textWrap="true"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <Button row="3" margin="2" text="Upload!" (tap)="upload($event)"></Button>
    <Button row="3" col="1" margin="2" text="Error-Up!" (tap)="upload_error($event)"></Button>
    <Button row="3" col="2" margin="2" text="MultiPart-Up!" (tap)="upload_multi($event)"></Button>
</GridLayout>